td,
th {
    padding: 1px 4px;
}

.remove-column {
    color: red;
    cursor: pointer;
}

.remove-column:after {
    content: "\2296";
}

#visual-area {
    float: right;
    margin-right: 5px;
}

tr.selected {
    background: orange;
}

rect.selected {
    fill: orange;
}

tr.clickable {
    cursor: pointer;
}

#player-table {
    /*float: left;*/
    display: inline-block;
    margin-top: 10px;
}

#visual {
    float: right;
    display: none;
    margin-top: 10px;
}

#visual.show {
    float: right;
    display: block;
}

.dropdown-menu {
    border-bottom: 1px solid;
}

.visual-checkbox {
    margin-left: 3px;
    margin-right: 3px;
}

.sortable {
    cursor: pointer;
}

button.addButton {
    margin-left: 4px;
}

.show-visual-checkboxes {
    margin-top: 5px;
}